.two-column-container {
  padding: 4rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
}

.no-selection {
  min-height: 480px;
}

.credential-add-attr-btn {
  background-color: #4a4a4a;
  border: 1px solid rgba(122, 122, 122, 0.525);
}
.right-col {
  min-height: 480px;
  background-color: #282828;
  align-self: flex-start;
}

.left-col {
  flex: 0 0 auto;
}

input,
select {
  background-color: #323232;
  padding: 0.75rem;
  color: white;
  width: 100%;
  border-radius: 0.25rem;
}

input::placeholder {
  color: rgb(108, 108, 108);
  font-size: 0.8rem;
}

.no-selection {
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

hr {
  width: 100%;
  margin-top: 1rem;
  border-color: #959595;
}

.credential {
  background-color: #3e3d3d;
}

.credential:hover {
  cursor: pointer;
  background-color: #404040;
}
.credential-border {
  border: 3px solid #525252;
}

.credential-credential-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.credential-issuer-name {
  font-size: 0.75rem;
}

.credential-attributes {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px; /* Adjust the font size as desired */
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash-button:hover {
  color: red;
}

.add-attr-btn {
  border: 1px solid white;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  color: rgb(237, 237, 237);
}

.add-attr-btn:hover {
  background-color: rgb(44, 44, 44);
  color: white;
}
