.two-column-container {
  padding: 4rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
}

selector {
  cursor: pointer;
}

.no-selection {
  min-height: 480px;
}

.credentials-screen-container {
  padding: 7rem;
}

.credentials-form-attributes-container {
  background-color: rgb(16, 16, 16);
  min-height: 200px;
}

.credentials-form-attribute-text {
  font-size: 0.75rem;
}

.credential-add-attr-btn {
  background-color: #4a4a4a;
  border: 1px solid rgba(122, 122, 122, 0.525);
}
.right-col {
  min-height: 480px;
  background-color: #282828;
  align-self: flex-start;
}

.left-col {
  flex: 0 0 auto;
}

input,
select {
  background-color: #323232;
  padding: 0.5rem;
  color: white;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

input::placeholder {
  color: rgb(108, 108, 108);
  font-size: 0.8rem;
}

.no-selection {
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.credential-card {
  width: 164px;
  background-color: #313131;
  border: #313131;
  border-radius: 10px;
}

.credential-card-avatar-background {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #525252;
}

.selection-overview-container {
  min-height: 240px;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 5px;
}
hr {
  width: 100%;
  margin-top: 1rem;
  border-color: #959595;
}

.credential {
  background-color: #3e3d3d;
  margin: 0.5rem 0;
  padding: 1rem 1.25rem;
}

.credential-border {
  border: 3px solid #525252;
}

.credential-credential-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.credential-issuer-name {
  font-size: 0.75rem;
}

.credential-attributes {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px; /* Adjust the font size as desired */
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  background-color: transparent;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

p {
  margin: 0;
  padding: 0;
}

.trash-button:hover {
  color: red;
}

.add-attr-btn:hover {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 0.5rem;
  border: 1px solid rgb(63, 63, 63);
}
