.two-column-container {
  padding: 4rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
}

.selected-cred {
  border: 1px solid red;
}

.credentials-form-attributes-container {
  /* width: 100%; */
  background-color: rgb(16, 16, 16);
  /* border: 1px solid white; */
  min-height: 200px;
}

.credentials-form-attribute-text {
  font-size: 0.75rem;
}

.credential-add-attr-btn {
  background-color: #4a4a4a;
  border: 1px solid rgba(122, 122, 122, 0.525);
}
.right-col {
  border: 1px solid black;
  min-height: 480px;
  background-color: #282828;
}

input,
select {
  background-color: #323232;
  padding: 0.5rem;
  color: white;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

input::placeholder {
  color: rgb(108, 108, 108);
  font-size: 0.8rem;
}

.no-selection {
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.credential-card {
  width: 164px;
  background-color: #313131;
  border: #313131;
  border-radius: 10px;
}

.credential-card-avatar-background {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #525252;
}

.selection-overview-container {
  min-height: 240px;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 5px;
}
hr {
  width: 100%;
  margin-top: 1rem;
  border-color: #959595;
}

.credential {
  /* border: 1px solid white; */
  background-color: #3e3d3d;
  /* border-radius: 10px; */
  margin: 0.5rem 0;
  padding: 1rem 1.25rem;
}

.credential-container {
  /* padding: 1.rem; */
}

.credential-credential-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.credential-issuer-name {
  font-size: 0.75rem;
}

.credential-attributes {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px; /* Adjust the font size as desired */
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  background-color: transparent;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  /* padding: 1rem; */
}

/* .credential-container {
  border: 1px solid white;
  width: 600px;
} */

/* .cred-attributes { */
/* display: flex; */
/* justify-content: flex-end;
  align-items: flex-end; */
/* padding-bottom: 1.2rem; */
/* padding-right: 1.2rem; */
/* border:  */
/* margin-top: 0.5rem; */
/* } */

/* .cred-attributes p {
  border: 1px solid white;
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  border-radius: 10px;
} */

/* .cred-info {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .cred-info .cred-issuer-name {
  font-size: 0.8rem;
}

.cred-info .cred-credential-name {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.cred-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222222;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  padding: 1.25rem;
} */

p {
  margin: 0;
  padding: 0;
}

/* .remove {
  background-color: transparent;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.5rem;
} */

 {
  /* <div
        className="flex"
        data-cred-id={index}
        onClick={(e) => handleClick(index)}
      >
        <div className="credential rounded w-4/5">
          <div className=" grid grid-cols-3">
            <div className="col-span-2">
              <div className="credential-issuer-name">
                <p>{issuerName}</p>
              </div>
              <div className="credential-credential-name">
                <p>{credentialName}</p>
              </div>
            </div>
            <div className="flex justify-center items-center align-center">
              <p className="credential-attributes">
                {" "}
                Attributes: {attributeCount}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div className="remove col-span-1 flex items-center justify-center w-1/5">
        <p onClick={(e) => handleCredentialRemoval(selectedCredential)}>
          <FontAwesomeIcon icon={faTrash} />
        </p>
      </div> */
}
