.highlight-container {
  background: #282828;
  color: white;
}

.highlight-text {
  background: #1a1a1a;
  color: white;
}

.character-circle {
  background: #525252;
  border-radius: 50%;

  width: 100px;
  height: 100px;

}

.selected-item {
  border: 3px solid #fcba19;
}

.unselected-item {
  border: 3px solid #525252;
}

.button-dark {
  background: #454545;
}

.button-red{
  background-color: rgb(230, 0, 0);
}

.button-red:hover{
  background-color: rgb(189, 0, 0);
}

.button-light {
  background: #898a8a;
  border-radius: 5px;
}
.button-light:hover {
  background: #747474;
  border-radius: 5px;
}