.basic-step {
  background-color: #303030;
}

.basic-step:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.text-highlight {
  color: #fcba19;
}

.dropdown-border {
  border: 1px #3f3f3f solid;
}

.added-credential-main {
  background-color: #3e3d3d;
}
.added-credential-attributes {
  background-color: #222222;
}

.hover-red:hover {
  color: red;
}

.added-credential-attributes-container {
  border: 2px solid white;
}
